<%- include("./partials/header")%>

    <main class="container w-75 mx-auto mt-5">
        <div>
            <a class="btn btn-sm btn-success" href="/blogs/<%=blog.id%>/edit">Edit</a>
            <form class="d-inline-block" action="/blogs/<%=blog.id%>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-sm btn-danger" href="/blogs/<%=blog.id%>/edit">Delete</button>
            </form>
            
        </div>
        <div class="mb-3">
            <img  class="d-block mx-auto img-fluid" src="<%=blog.img%> " alt="" style="height: 300px;">
        </div>
        <h2 class="display-2 text-center"><%=blog.title%> </h2>
        <p><%=blog.desc%></p>
    </main>

<%- include("./partials/footer")%>
