<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>

    <h1>All Comments</h1>

    <a href="/comments/new">Add New Comment</a>

    <ul>
       <% for(let comment of comments){%>
            <li>
                <p><strong><%= comment.username %> </strong></p> 
                <p><%= comment.text %> </p>
                <a href="/comments/<%= comment.id %> ">Show</a>
                <a href="/comments/<%= comment.id %>/edit ">Edit</a>
                <form action="/comments/<%=comment.id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </li>
       <% }%>
    </ul>
    
</body>
</html>